{% extends "base.html" %}
{% load item_tags %}

{% block title %}Categories{% endblock %}

{% block mainbar %}

<h4>Current category</h4>

{% include 'include/current-category.html' %}

<h4>Sub categories</h4>

{% if result_list %}
<div class="list-group">
{% for item in result_list %}
  <a href="{{item.link}}" class="list-group-item">{{item.name|typeset_tag}}</a>
{% endfor %}
</div>
{% else %}
<i>(none)</i>
{% endif %}

{% endblock mainbar %}

{% block sidebar %}

<h4>Definitions</h4>

<p>{{def_count}} published</p>

{% if def_count %}
<a href="{{def_link}}" class="btn btn-primary">View definitions</a>
{% else %}
<button class="btn btn-primary" disabled="disabled">View definitions</button>
{% endif %}

<h4>Theorems</h4>

<p>{{thm_count}} published</p>

{% if thm_count %}
<a href="{{thm_link}}" class="btn btn-primary">View theorems</a>
{% else %}
<button class="btn btn-primary" disabled="disabled">View theorems</button>
{% endif %}

{% endblock sidebar %}