{% extends "base.html" %}
{% load item_tags %}

{% block title %}Categories{% endblock %}

{% block mainbar %}

<h4>Current category</h4>

<div>
{% if category_items %}
{%   for item in category_items %}
<a href="{{item.link}}" class="btn btn-default btn-xs">/</a>
<span>{{item.name|typeset_tag}}</span>
{%   endfor %}
{% else %}
<button type="button" class="btn btn-default btn-xs" disabled="disabled">/</button>
{% endif %}
</div>

<h4>Sub categories</h4>

{% if result_list %}
<div class="list-group">
{% for item in result_list %}
<a href="{{item.link}}" class="list-group-item">{{item.name|typeset_tag}}</a>
{% endfor %}
</div>
{% else %}
<i>(none)</i>
{% endif %}

{% endblock mainbar %}

{% block sidebar %}

{% if path %}
<h4>Actions</h4>
<a href="{% url 'tags.views.list_definitions' path %}" class="btn btn-primary">View definitions</a>
{% endif %}

{% endblock sidebar %}