<div class="modal hide">
    <div class="modal-header">
        <button type="button" class="close cancel">&times;</button>
        <h3>Add category</h3>
    </div>
    <div class="modal-body">
        <div class="category">
        </div>
        <div class="input-append">
          <input class="span12" type="text">
          <button id="category-plus-btn" class="btn"><i class="icon-plus"></i></button>
          <button id="category-minus-btn" class="btn"><i class="icon-minus"></i></button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Add category</button>
        <button class="btn cancel">Cancel</button>
    </div>
</div>