<p class="pull-right"><span class="label label-info">date</span> <a href="#">points</a> |
{{#if status_final}}
<span class="label label-info">final</span>
{{else}}
<a class="select-final" href="#">final</a>
{{/if}}
{{#if status_review}}
<span class="label label-info">review</span>
{{else}}
 <a class="select-review" href="#">review</a>
{{/if}}
{{#if enable_drafts}}
{{#if status_draft}}
<span class="label label-info">draft</span>
{{else}}
 <a class="select-draft" href="#">draft</a>
{{/if}}
{{/if}}
</p>

<table class="table">
<tbody>
</tbody>
</table>

<button class="btn btn-link pull-right search-list-more" type="button">Show more</button>
