<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-2" for="select-source">Type of source</label>
    <div class="col-md-2">
      <select id="select-source" class="form-control">
{{#each types}}
        <option value="{{key}}">{{name}}</option>
{{/each}}
      </select>
    </div>
  </div>
</div>

<div class="form-horizontal" id="source-fields">
</div>

<div class="form-horizontal">
{{#if extra}}
  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Add entry <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" id="extra-fields">
{{#each extra}}
        <li><a data-key="{{key}}" href="#">{{name}}</a></li>
{{/each}}
      </ul>
    </div>
  </div>
{{/if}}
  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <button id="add-source" class="btn btn-primary">Add source</button>
    </div>
  </div>
</div>