<div class="form-horizontal" style="margin-bottom:2em;">
  <div class="controls">
    <select id="select-source">
{{#each types}}
      <option value="{{key}}">{{name}}</option>
{{/each}}
    </select>
  </div>
</div>

<div class="form-horizontal" id="source-fields">
</div>