<div class="form-horizontal">
  <label class="control-label" for="select-source">Type of source</label>
  <div class="controls">
    <div class="control-group">
      <select id="select-source">
{{#each types}}
        <option value="{{key}}">{{name}}</option>
{{/each}}
      </select>
    </div>
  </div>
</div>

<div class="form-horizontal" id="source-fields">
</div>

<div class="form-horizontal">
{{#if extra}}
  <div class="controls">
    <div class="control-group">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Add entry
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="extra-fields">
{{#each extra}}
          <li><a data-key="{{key}}" href="#">{{name}}</a></li>
{{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/if}}
  <div class="controls">
    <div class="control-group">
      <button id="add-source" class="btn btn-primary btn-large">Add source</button>
    </div>
  </div>
</div>