<p id="{{prefix}}-tag-list"></p>
<div class="input-append">
  <input id="{{prefix}}-tag-name" class="span8" type="text">
  <button id="{{prefix}}-tag-add" class="btn" type="button">Add</button>
</div>
