<p>Separate paragraphs by blank lines.</p>

<p><code>*italics*</code></p>

<p><code>**bold**</code></p>

<p>Some inline <code>$e^x$</code> math</p>

<p>
  Use double dollar signs<br/>
  <code>$$</code><br/>
  <code>\sum_{k=1}^n k</code><br/>
  <code>$$</code><br/>
  for display math.
</p>

<p>Use <code>[#some label]</code> or <code>[my text#some label]</code> to refer to
  abstract definitions.</p>

<p>Use <code>[@T1234]</code> or <code>[my text@T1234]</code> to refer to a published item.</p>

<p>Insert <code>[!M1234]</code> or <code>[Figure 1!M1243]</code> to refer to a media item.</p>

<p><a href="http://blog.teoremer.com/2014/01/03/math-item-markup.html">More details...</a></p>
