{% extends "base.html" %}
{% load utils_tags %}

{% block title %}
Edit {{ item }}
{% endblock %}

{% block mainbar %}

<div class="panel panel-default draft-edit">
  <div class="panel-heading">
    <h4 class="panel-title">Editing {{ item }}{% if item.parent %} of {{ item }}{% endif %}</h4>
  </div>
  <div class="panel-body">
    <textarea id="body-input" class="form-control">
    </textarea>
    <div id="body-preview">
    </div>
  </div>
</div>

{% if primary_text %}
<h4>{{ primary_text }}</h4>
<div id="primary-categories"></div>
{% endif %}

<h4>Categories</h4>
<div id="secondary-categories"></div>

<p><button id="save-draft" type="button" class="btn btn-primary">Save draft</button></p>

{% endblock mainbar %}

{% block sidebar %}

<h4>Help</h4>

{% include 'drafts/edit_help.html' only %}

{% endblock %}

{% block bodybottom %}

{% include 'include/js-scripts.html' with showdown=True %}

<script type="text/javascript">
teoremer.edit_draft({{item.pk}}, {{item.body|to_json}}, {{item.primary_categories|to_json}}, {{item.secondary_categories|to_json}},
{% if primary_text %}true{% else %}false{% endif %});
</script>

{% endblock %}
