{% extends "base.html" %}

{% block title %}
New {{ kind }}
{% endblock %}

{% block mainbar %}

<div class="panel panel-default draft-edit">
  <div class="panel-heading">
    <h4 class="panel-title">New {{ kind }}{% if parent %} of {{ parent }}{% endif %}</h4>
  </div>
  <div class="panel-body">
    <textarea id="body-input" class="form-control">
    </textarea>
    <div id="body-preview">
    </div>
  </div>
</div>

{% if primary_text %}
<h4>{{ primary_text }}</h4>
<div id="primary-categories"></div>
{% endif %}

<h4>Categories</h4>
<div id="secondary-categories"></div>

<p><button id="save-draft" type="button" class="btn btn-primary">Save draft</button></p>

<div id="modal-container"></div>

{% endblock mainbar %}

{% block sidebar %}

<h4>Help</h4>

{% endblock %}

{% block bodybottom %}

{% include 'include/js-scripts.html' with showdown=True cookie=True only %}

<script type="text/javascript">
teoremer.new_draft("{{kind}}", {% if primary_text %}true{% else %}false{% endif %}{% if parent %},"{{parent.final_id}}"{% endif %});
</script>

{% endblock %}
