{% extends "base.html" %}
{% load item_tags %}
{% load user_tags %}

{% block title %}{{ item }}{% endblock %}

{% block mainbar %}

<h1>{{ item }}{% if item.parent %} of {{ item.parent }}{% endif %}</h1>

{% include 'items/include/categories.html' with categories=item.primary_categories only %}

<div class="item-body">
{{ item|typeset_body }}
</div>

{% endblock mainbar %}

{% block sidebar %}

<h4>Meta</h4>

<p>{{ item.get_status_display }}, latest edit by <a href="{% url 'users.views.profile' item.created_by.get_username %}">{{ item.created_by.get_full_name }}</a> at {{ item.modified_at|datetime_user:user }}</p>

<h4>Categories</h4>

{% include 'items/include/categories.html' with categories=item.secondary_categories only %}

<h4>Actions</h4>

{% if perm.edit %}
<p><a class="btn btn-primary" href="{% url 'drafts.views.edit' item.id %}">Edit</a></p>

<p><form method="post" action="{% url 'drafts.views.delete_draft' item.id %}">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Delete</button>
</form></p>
{% endif %}

<!-- {% if perm.to_draft %}
<form method="post" action="{% url 'items.views.to_draft' item.id %}">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Revert to draft</button>
</form>
{% endif %} -->

{% if perm.to_review %}
<p><form method="post" action="{% url 'drafts.views.to_review' item.id %}">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Submit for review</button>
</form></p>
{% endif %}

{% if perm.to_final %}
<p><form method="post" action="{% url 'drafts.views.to_final' item.id %}">
  {% csrf_token %}
  <button class="btn btn-primary" type="submit">Publish</button>
</form></p>
{% endif %}

{% endblock %}

{% block bodybottom %}

<script type="text/javascript">

$('div.item-body').tooltip({
  selector: "a[rel=tooltip]"
});

</script>

{% endblock %}
