/* https://bootswatch.com/flatly/ */

@base-size: 15px;
@h4-size: 1.2*@base-size;
@h3-size: 1.2*@h4-size;
@h2-size: 1.2*@h3-size;
@h1-size: 1.2*@h2-size;
@edge-padding: @base-size;
@box-padding: @base-size/2;
@p-padding: 0.6*@base-size;
@navbar-bg: #2c3e50;
@navbar-fg: #fff;
@link-hover: #18bc9c;
@navbar-brand-size: 1.5*@base-size;

/* mixins */

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.panel() {
    background-color: #fff;
    border: 2px solid #dce4ec;
    //border-radius: 4px;
    /*-webkit-box-shadow: inset 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 1px 1px rgba(0,0,0,0.05);*/
    margin: 0 0 @p-padding;
    padding: @box-padding;
}

.formcontrol() {
    .panel();
    display: block;
    width: 100%;
    color: #2c3e50;
    height: 45px;
}

/* globals */

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: @base-size;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: @link-hover;
}

p {
    margin: 0 0 @p-padding;
}

ul, ol {
    margin-top: 0;
    margin-bottom: @p-padding;
}

h1, h2, h3, h4 {
    font-weight: 400;
    margin: 0.5em 0 0.25em;
}

h4 {
    font-size: @h4-size;
}

h3 {
    font-size: @h3-size;
}

h2 {
    font-size: @h2-size;
}

h1 {
    font-size: @h1-size;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    /*-ms-touch-action: manipulation;
    touch-action: manipulation;*/
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    //border-radius: 4px;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

.btn-default {
    color: #fff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}

.btn-danger {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-warning {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}

/* navbar */

#navbar {
    background-color: @navbar-bg;
    padding: @edge-padding;
    margin-bottom: @edge-padding;
    * {
        color: @navbar-fg;
    }
    .navbar-brand {
        font-size: @navbar-brand-size;
        font-weight: 400;
        padding-right: @box-padding;
    }
    & > ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        & > li {
            display: block;
            padding: 0;
        }
    }
    .navbar-user {
        padding: 0;
    }
    .clearfix();

    @media (min-width: 640px) {
        .navbar-brand {
            float: left;
        }
        & > ul {
            float: left;
            & > li {
                display: inline-block;
                padding: (@navbar-brand-size - @base-size) @box-padding 0;
            }
        }
        .navbar-user {
            float: right;
            padding: (@navbar-brand-size - @base-size) 0 0 @box-padding;
        }
    }
}

/* page structure */

header {
    //margin-top: @base-size;
    padding-left: @edge-padding;
}

main, aside {
    padding: 0 @edge-padding;
    float: left;
}

main, aside {
    width: 100%;
}

@media(min-width: 960px) {
    main {
        width: 66.66666%;
    }
    aside {
        width: 33.33333%;
    }
}

/* concept list */

.concept-list {
    list-style: none;
    padding-left: 0;
}

.concept-tag {
    display: inline-block;
    padding-left: @base-size;
    &:first-child {
        padding-left: 0;
    }
}

/* item list */

.item-list {
    a {
        color: inherit;
    }
    & > * {
        display: block;
        border: 1px solid #ecf0f1;
        padding: @box-padding;
        .item-heading, .concept-list, .item-about {
            margin: 0;
        }
    }
}

/* item show */

.item-show-box {
    .panel();
}

.item-about-box {
    .panel();
    background-color: #ecf0f1;
}

/* item edit */

.item-edit-box {
    .formcontrol();
}

/* forms */

.form-control {
    .formcontrol();
}

.input-group {
    display: table;
    border-collapse: separate;
}

.input-group-btn, .input-group .form-control {
    display: table-cell;
}

.input-group .form-control {
    margin-bottom: 0;
}

.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

/* close */

.close {
    float: right;
    font-size: 18px;
    line-height: 1;
    text-shadow: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    color: inherit;
}
