<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/pure.css">
        <link rel="stylesheet" href="/static/main.css">
        <script type="text/javascript" src="/static/core.js" defer></script>
{{#each extrajs}}
        <script type="text/javascript" src="/static/{{this}}.js" defer></script>
{{/each}}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                messageStyle: 'none',
                skipStartupTypeset: false,
                'CHTML-preview': {disabled: true}
            });
        </script>
        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" defer></script>
    </head>
    <body>
        <div id="wrap">
