{% load item_tags %}
{% load utils_tags %}

<ul class="list-group">
{% for item in items %}
<li class="list-group-item clearfix">
    <div><a href="{{item.get_link}}">{{item.get_name}}</a>{% if item.primary_categories %} <span class="lead-tag-list">{% for category in item.primary_categories %}<span class="tag">{{category.tag|typeset_tag}}</span>{% endfor %}</span>{% endif %}</div>
    <div><small class="pull-right">by <a href="{{item.created_by.get_link}}">{{item.created_by.get_full_name}}</a> {{item.created_at|timestamp}}</small>
    {% include 'include/categories.html' with categories=item.secondary_categories only %}
    </div>
</li>
{% endfor %}
</ul>

{% if more %}
<a class="pull-right" href="{{morelink}}">{{moretext}}</a>
{% endif %}
