{% if itempage.items %}
<div class="clearfix">
    <button class="btn btn-link pull-right hidden" data-url="{{itempage.prev_data_url}}" data-dir="up">Load previous</button>
</div>
<ul class="list-group">
{% include 'include/item_list_items.html' with current_url=itempage.current_url items=itempage.items only %}
</ul>
<div class="clearfix">
    <button class="btn btn-link pull-right hidden" data-url="{{itempage.next_data_url}}" data-dir="down">Load more</button>
</div>
{% else %}
<em>No results found</em>
{% endif %}