{% load staticfiles %}
<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>
<script>window.JSON || document.write('<script src="{% static 'js/vendor/json2.min.js' %}"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script>window._ || document.write('<script src="{% static 'js/vendor/underscore-min.js' %}"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script>window.Backbone || document.write('<script src="{% static 'js/vendor/backbone-min.js' %}"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.runtime.min.js"></script>
<script>window.Handlebars || document.write('<script src="{% static 'js/vendor/handlebars.runtime.min.js' %}"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
<script>window.jQuery.cookie || document.write('<script src="{% static 'js/vendor/jquery.cookie.min.js' %}"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
<script>window.jQuery.fn.typeahead || document.write('<script src="{% static 'js/vendor/typeahead.min.js' %}"><\/script>')</script>
{% if showdown %}
<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script>window.Showdown || document.write('<script src="{% static 'js/vendor/showdown.min.js' %}"><\/script>')</script>
{% endif %}
{% if debug %}
<script src="{% static 'js/teoremer.js' %}"></script>
<script src="{% static 'js/templates.js' %}"></script>
{% else %}
<script src="{% static 'teoremer.js' %}"></script>
{% endif %}