html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

body {
  background: #fff;
  font: 100% verdana, tahoma, arial, sans-serif;
}

#wrap {
  padding: 0.1em 1em;
}

.clr {
  clear: both;
}

/* header */

#header {
  padding: 0.1em 0em 0.5em;
  overflow: auto;
  border-bottom: 2px solid black;
}

#logo {
  font-size: 3em;
  float: left;
}

#logo a {
  color: #487858;
  text-decoration: none;
}

#user {
  font-size: 0.8em;
  float: right;
}

#hmenu {
    clear: both;
}

#hmenu li {
  display: block;
  float: left;
  margin: 0em 1em 0em 1em;
}

/* content */

#content {
  overflow: auto;
}

/* side bar */

#sidebar {
  float: right;
  width: 20em;
}

/* main bar */

#mainbar {
    margin-right: 20em;
    padding-right: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #487858;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0.2em 0em;
}

textarea.body {
  width: 100%;
  height: 20em;
}

textarea.tags {
  width: 40%;
  height: 5em;
  max-width: 40em;
}

.iteminfo {
  width: 50%;
  float: right;
}

.iteminfo p {
  font-size: 0.7em;
}

.iteminfo .taglist {
  font-size: 0.8em;
}

div.itembody {
  padding: 0.5em;
  margin: 0.5em 0em;
  border: 2px solid #888;
}

div.itembody ol {
  margin-left: 2em;
  list-style-type: lower-latin;
}

div.itembody ul {
  margin-left: 2em;
  list-style-type: square;
}

ul.validation-list, ul.source-list {
    margin-left: 2em;
    list-style-type: square;
}

.taglist {
  margin: 0.5em 0em;
}

span.tag {
  padding: 0.1em 0.2em;
  margin: 0.1em;
  border: 2px solid #888;
}

div.actions {
  padding: 0.5em;
}

a.button, input.button {
    display: block;
    cursor: default;
    text-decoration: none;
    border: 1px solid #006;
    background: #9cf;
    color: #000;
    font: 1em verdana, tahoma, arial, sans-serif;
    padding: 0.5em;
    margin: 0.2em;
    float: left;
}

div.actions a:hover, div.actions input.button:hover {
  background: #adf;
}

.messages {
  background: #bff;
  border: 1px solid #000;
  padding: 0.5em 0.5em 0.5em 2em;
  margin: 0.5em;
}

div.itemlist div.row {
  /*border-bottom: 1px solid #efefef;
  border-top: 1px solid #fff;*/
  border: 1px solid #efefef;
  margin-left: 2em;
  padding: 0.3em;
}

div.itemlist div.row div.title {
}

div.itemlist div.row div.info {
    margin: 0.4em 0em;
}

ul.concepts {
    list-style-type: disc;
}

.concepts li {
    margin: 0.5em 0em 0.5em 2em;
}

form label {
    display: block;
}

form.tag-search textarea {
    width: 100%;
    height: 5em;
}

/* footer */

#footer {
  clear: both;
  margin-top: 0.5em;
  padding: 0.5em 0em;
  font-size: 0.8em;
  border-top: 2px solid black;
}

#footer a.license {
  float: right;
}
