body { 
  background: #fff;
}

#wrap {
  background-color: #f7f7f7;
  padding: 0px;
  max-width: 80em;
  margin: 0px auto;
}

/* header */

#header {
/*  background-color: #ddd; */
  padding: 0.5em;
  overflow: auto;
  border-bottom: 2px solid black;
}

#logo {
  font-size: 200%;
  color: #77f;
  float: left;
}

#user {
  float: right;
}

/* content */

#content {
  padding: 0.5em;
  overflow: auto;
}

h1 {
  font-size: 200%;
  padding: 0em;
  margin: 0.2em 0em;
}

textarea.body {
  width: 100%;
  height: 20em;
}

textarea.tags {
  width: 40%;
  height: 5em;
  max-width: 40em;
}

table.iteminfo {
  padding: 0.5em;
  margin: 0.5em 0em;
  border: 1px solid #444;
}

table.iteminfo tr th {
  text-align: left;
}

div.itembody {
  padding: 1em 0;
}

div.primary-tag {
  padding: 0em;
  margin: 0.2em 0em 0.2em 1em;
  font-size: 120%;
}

div.taglist {
  padding: 0em;
  margin: 0.2em 0em;
}

span.other-tag {
  padding: 0.1em 0.2em;
  margin: 0.1em;
  border: 1px solid black;
}

/* footer */

#footer {
/*  background-color: #ddd; */
  padding: 0.5em;
  font-size: 80%;
  border-top: 2px solid black;
}

