{% extends 'main/page.html' %}
{% load form_extras %}

{% block pagecontent %}
{% include 'mathitems/include/show.html' with item_data=item_data only %}

<h2>Add Validation</h2>

<form class="form-horizontal" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% include 'main/formgroup.html' with field=form.source_type only %}
  {% include 'main/formgroup.html' with field=form.source_value only %}
  {% include 'main/formgroup.html' with field=form.location only %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add Validation</button>
    </div>
  </div>
</form>
{% endblock %}

{% block sidecontent %}
<div class="well">
{% include 'mathitems/include/about.html' with item_data=item_data only %}
</div>
{% endblock %}
