{% extends 'main/page.html' %}

{% block pagecontent %}
{% if preview %}
<p>Preview:</p>
{{ preview.get_html|safe }}
{% endif %}
<form method="POST">
  {% csrf_token %}
  {% if preview %}
  <input type="hidden" name="ref" value="{{ ref }}">
  {% endif %}
  {{ form.non_field_errors }}
  <div class="form-control-wrap">
    {{ form.version.errors }}
    {{ form.version.label_tag }}
    {{ form.version }}
  </div>
  <div class="form-control-wrap">
    {{ form.ratio.errors }}
    {{ form.ratio.label_tag }}
    {{ form.ratio }}
  </div>
  <div class="form-control-wrap">
    {{ form.create.errors }}
    {{ form.create.label_tag }}
    {{ form.create }}
  </div>
  <button type="submit" name="submit" value="preview" class="btn btn-default">Preview</button>
  {% if preview %}
  <button type="submit" name="submit" value="save" class="btn btn-default">Save</button>
  {% endif %}
</form>
{% endblock %}

{% block sidecontent %}
{% endblock %}
