{% extends 'main/page.html' %}

{% block pagecontent %}
{% if error %}
<p>{{ error }}</p>
<p><a href="{% url 'media-home' %}" class="btn btn-warning">Back</a></p>
{% else %}
<p>Recognized as {{ description }}</p>
{{ tag|safe }}
<form method="POST" action="{% url 'image-add' %}">
  {% csrf_token %}
  <input type="hidden" name="ref" value="{{ ref }}">
  <button type="submit" class="btn btn-default">Add Media</button>
  <a href="{% url 'media-home' %}" class="btn btn-warning">Cancel</a>
</form>
{% endif %}
{% endblock %}

{% block sidecontent %}
{% endblock %}
