{% load date_utils %}{% if items %}
<div class="item-list">
{% for item in items %}
<a href="{{ item.item.get_absolute_url }}">
  <h4 class="item-heading">{{ item.item.get_name }}</h4>
  <div><span class="tags-header">Format</span>
    <span class="concept-list"><span class="concept-tag">{{ item.item.format }}</span></span>
  </div>
  {% if item.keywords %}
  <div><span class="tags-header">Keywords</span>
    <span class="concept-list">{% for kw in item.keywords %}<span class="concept-tag">{{ kw }}</span>{% endfor %}</span>
  </div>
  {% endif %}
  <p class="item-about">Added {{ item.item.created_at|date_or_ago }} by {{ item.item.created_by.get_username }}</p>
</a>
{% endfor %}
</div>
{% else %}
<p><em>None</em></p>
{% endif %}