{% extends "base.html" %}
{% load item_tags %}

{% block title %}Definitions{% endblock %}

{% block mainbar %}

<h3>Latest Definitions</h3>

<ul class="list-group">
{{itempage.rendered}}
</ul>
<div class="clearfix">
    <a class="pull-right" href="{{see_all_link}}">See all</a>
</div>

<h3>Most Wanted Definitions</h3>

<ul class="list-group">
{{wanted_defs.rendered}}
</ul>
<div class="clearfix">
  <a class="pull-right" href="{{all_wanted_link}}">See all</a>
</div>

{% endblock %}

{% block sidebar %}

<h4>Actions</h4>

<p><a class="btn btn-primary" href="{% url 'drafts.views.new' kind='definition' %}"><span class="glyphicon glyphicon-plus"></span> Add definition</a></p>

{% endblock %}
