{% extends "base.html" %}
{% load item_tags %}

{% block title %}Definitions{% endblock %}

{% block mainbar %}

<div class="row-fluid">

  <div class="span5">
  
    <h2>Concepts without any definitions</h2>

    <ul>
    {% spaceless %}
    {% for concept in missing_defs %}
      <li>{{ concept.primary.name|typeset_tag }}{% include 'inline/taglist.html' with taglist=concept.secondaries.all only %}</li>
    {% endfor %}
    {% endspaceless %}
    </ul>
  
  </div>
  
  <div class="span5">
  
    <h2>Latest published definitions</h2>
    
    {% include 'items/include/fitemlist.html' with itemlist=finalitems only %}
  
  </div>

</div>

{% endblock %}

{% block sidebar %}

<p><a class="btn" href="{% url 'items.views.new' kind='definition' %}">Add definition</a></p>
<p><a class="btn" href="{% url 'items.definitions.views.search' %}">Search definitions</a></p>

{% endblock %}

