{% extends "base.html" %}
{% load staticfiles %}
{% load utils_tags %}

{% block title %}Add Location{% endblock %}

{% block mainbar %}

<h4>Source</h4>
<div id="source-preview"></div>

<h4>Location</h4>

<form method="post" action="{% url 'sources.views.add_location_for_item' item.final_id source.id %}">
{% csrf_token %}
<div class="form-group">
  <input type="text" name="location" class="form-control" maxlength="255">
</div>
<div class="form-group">
  <input type="submit" class="btn btn-primary" value="Add validation">
</div>
</form>

{% endblock %}

{% block sidebar %}

<h4>Help</h4>

{% endblock %}

{% block bodybottom %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
<script src="{% static 'js/teoremer.js' %}"></script>

<script type="text/javascript">

(function() {

  new teoremer.SourceRenderView({
    el: $('#source-preview'),
    model: new teoremer.SourceItem({{source|to_json}})
  });

})();

</script>

{% endblock %}
