{% extends "base.html" %}
{% load item_tags %}
{% load utils_tags %}

{% block title %}Add Location{% endblock %}

{% block mainbar %}

<div class="panel panel-default">
  <div class="panel-heading expander-in">
    <h4 class="panel-title">{{ item }}{% if item.parent %} of {{ item.parent }}{% endif %} <span class="glyphicon"></span></h4>
  </div>
  <div class="panel-body">
{{ item|typeset_body }}
  </div>
</div>

<h4>Source</h4>
<div id="source-preview"></div>

<h4>Location</h4>

<form method="post" action="{% url 'sources.views.add_location_for_draft' item.id source.id %}">
{% csrf_token %}
<div class="form-group">
  <input type="text" name="location" class="form-control focus" maxlength="255">
</div>
<div class="form-group">
  <input type="submit" class="btn btn-primary" value="Add validation">
</div>
</form>

{% endblock %}

{% block sidebar %}

<h4>Help</h4>

{% endblock %}

{% block bodybottom %}

{% include 'include/js-scripts.html' only %}

<script type="text/javascript">
teoremer.page.source_preview({{source|to_json}});
</script>

{% endblock %}
