{% extends "base.html" %}
{% load utils_tags %}

{% block title %}Sources{% endblock %}

{% block mainbar %}

<div id="source-list">loading...</div>

{% endblock mainbar %}

{% block sidebar %}

<h4>Actions</h4>

<p><a class="btn btn-primary" href="{% url 'sources.views.add_source' %}">Add source</a></p>

{% endblock sidebar %}

{% block bodybottom %}

{% include 'include/js-scripts.html' only %}

<script type="text/javascript">
teoremer.source_list({{ sourcelist|to_json }});
</script>

{% endblock bodybottom %}
