{% extends "base.html" %}
{% load utils_tags %}

{% block title %}Source{% endblock %}

{% block mainbar %}

<h4>Source</h4>
<div id="source-preview"></div>

<h4>Items validated by this source</h4>

{% if validations %}
<div class="list-group">
{% for val in validations %}
  <a href="{% url 'items.views.show_final' val.item.final_id %}" class="list-group-item">
    <b>{{val.item}}</b><br/>
    {{val.location}}
  </a>
{% endfor %}
</div>
{% else %}
<p><i>None found</i></p>
{% endif %}

{% endblock mainbar %}

{% block sidebar %}
{% endblock sidebar %}

{% block bodybottom %}

{% include 'include/js-scripts.html' %}

<script type="text/javascript">
teoremer.source_preview({{source|to_json}});
</script>

{% endblock %}
