<div class="category"></div>
<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-btn">
    <button id="category-plus-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    <button id="category-minus-btn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
  </span>
</div>