<div class="panel-heading">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <h4 class="panel-title"><a href="{{link}}">{{title}}</a></h4>
</div>
<div class="panel-body">
{{{body}}}
</div>