<div class="panel-heading">
  {{#if can_delete}}<button type="button" class="close" aria-hidden="true">&times;</button>{{/if}}
  <h4 class="panel-title"><a href="{{link}}">{{title}}</a></h4>
</div>
<div class="panel-body">
{{{body}}}
</div>