<p class="tag-list"></p>
<div class="input-group">
  <input class="tag-input" type="text" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Add</button>
  </span>
</div>