<p id="tag-list-{{uid}}"></p>
<div class="input-group">
  <input id="tag-name-{{uid}}" type="text" class="form-control">
  <span class="input-group-btn">
    <button id="tag-add-{{uid}}" class="btn btn-default" type="button">Add</button>
  </span>
</div>