{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block mainbar %}

<h2>What is it?</h2>

<p><strong>teoremer</strong> is a collection of definitions, theorems and proofs.</p>
<p>Anyone can contribute.</p>

{% endblock %}

{% block sidebar %}

<h4>Statistics</h4>
<p>Definitions: {{ def_final }}/{{ def_review }}/{{ def_draft }}</p>
<p>Theorems: {{ thm_final }}/{{ thm_review }}/{{ thm_draft }}</p>
<p>Proofs: {{ prf_final }}/{{ prf_review }}/{{ prf_draft }}</p>
<p>Users: {{ user_count }}</p>

{% endblock %}
