<!DOCTYPE html>
<html lang="en">
  <head>
    <title>thrms | {% block title %}{% endblock %}</title>
	<!--
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	-->
    <link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ["\\(","\\)"] ],
          displayMath: [ ["\\[","\\]"] ],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div id="logo">
          <a href="{% url 'main.views.index' %}">thrms.net</a>
        </div>
        <div id="user">
          {% if user.is_authenticated %}
          <a href="{% url 'users.views.profile' user.get_username %}">{{ user.get_full_name }}</a>
          {% else %}
          <a href="{% url 'users.views.login' %}">log in</a>
          {% endif %}
        </div>
        <div id="hmenu">
          <ul>
            <li><a href="{% url 'main.views.index' %}">Overview</a></li>
            <li><a href="{% url 'items.definitions.views.index' %}">Definitions</a></li>
            <li><a href="{% url 'items.theorems.views.index' %}">Theorems</a></li>
            <li><a href="{% url 'items.proofs.views.index' %}">Proofs</a></li>
            <li><a href="{% url 'refs.views.index' %}">Sources</a></li>
            <li><a href="{% url 'media.views.index' %}">Media</a></li>
            <li><a href="{% url 'users.views.index' %}">Users</a></li>
            {% if user.is_admin %}
			<li><a href="{% url 'admin.views.index' %}">Admin</a></li>
			{% endif %}
          </ul>
        </div>
      </div>
      <div id="content">
        <div id="sidebar">
          {% block sidebar %}
          {% endblock %}
        </div>
        <div id="mainbar">
          {% include "include/messages.html" %}
          {% block mainbar %}
          {% endblock mainbar %}
        </div>
      </div>
      <div id="footer">
        <a class="license" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
        site design &copy; 2013 sputsoft<br>
        user contributions are licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">cc-by-sa-3.0</a>
      </div>
    </div>
  </body>
</html>
