{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>thrms | {% block title %}{% endblock %}</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ["\\(","\\)"] ],
          displayMath: [ ["\\[","\\]"] ],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
    <link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div id="logo">
          thrms.net
        </div>
        <div id="user">
          {% if auth %}
          <a href="{% url 'users.views.profile' auth.id %}">{{ auth.name }}</a>
          {% else %}
          <a href="{% url 'users.views.login' %}">log in</a>
          {% endif %}
        </div>
      </div>
      <div id="content">
        <div id="mainbar">
          {% include "includes/messages.html" %}
          {% block mainbar %}
          {% endblock mainbar %}
        </div>
        <div id="sidebar">
          <p>This is the side bar</p>
        </div>
      </div>
      <div id="footer">
        <a class="license" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
        site design &copy; 2013 sputsoft<br>
        user contributions are licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">cc-by-sa-3.0</a>.
      </div>
    </div>
  </body>
</html>
