{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>thrms | {% block title %}{% endblock %}</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ["\\(","\\)"] ],
          displayMath: [ ["\\[","\\]"] ],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
    <link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrap">
      <div id="header">
	<div id="logo">
	  thrms
	</div>
        <div id="user">
          {% if username %}
          <a href="{% url 'users.views.account' %}">{{ username }}</a>
          {% else %}
          <a href="{% url 'users.views.login' %}">log in</a>
          {% endif %}
        </div>
      </div>
      <div id="content">
	<div id="mainbar">
	  {% block mainbar %}{% endblock %}
	</div>
      </div>
    </div>
  </body>
</html>
