{% extends "base.html" %}
{% load item_tags %}

{% block title %}Home{% endblock %}

{% block mainbar %}

<h3>teoremer blog</h3>

{% for item in blog_feed %}
<h4><a href="{{ item.link }}">{{ item.title }}</a></h4>
<p>{{ item.description|safe }}</p>
{% endfor %}

<h3>Latest items</h3>

<div id="top-item-list"><i>loading...</i></div>

{% endblock %}

{% block sidebar %}
<h4>Tags</h4>
<ul class="tag-counts">
{% for tc in top_tags %}
  <li><span class="tag">{{ tc.name|typeset_tag }}</span> &times; {{ tc.count }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block bodybottom %}
{% include 'include/js-scripts.html' %}
<script type="text/javascript">
teoremer.home({{init_items|safe}});
</script>

{% endblock %}
