<!DOCTYPE html>{% load static %}{% load pipeline %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    {% stylesheet 'main' %}
  </head>
  <body>
    <nav id="navbar">
      <a class="navbar-brand" href="{% url 'home' %}">MathItems</a>
      <ul class="navbar-links">
        <li><a href="{% url 'def-home' %}">Definitions</a></li>
        <li><a href="{% url 'thm-home' %}">Theorems</a></li>
        <li><a href="{% url 'prf-home' %}">Proofs</a></li>
        <li><a href="{% url 'media-home' %}">Media</a></li>
      </ul>
      <span class="navbar-user">
        {% if user.is_authenticated %}Signed in as <a href="{% url 'user-page' user.id %}" class="navbar-link">{{ user.username }}</a>
        {% else %}<a href="{% url 'login' %}">Sign in</a>{% endif %}
      </span>
    </nav>
{% block content %}{% endblock %}
    <footer>
      Built by <a href="http://janmr.com">Jan Marthedal Rasmussen</a><br>
      All user-contributed content is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    </footer>
    {% javascript 'main' %}
    {% if not debug %}<script defer src="https://www.google-analytics.com/analytics.js"></script>{% endif %}
  </body>
</html>
