{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Create {{itemtype}}{% endblock %}

{% block content %}
<h1>Create {{itemtype}}</h1>

<form class="pure-form" method="post">
    <textarea id="input" class="pure-input-1 math-item-input" name="body" placeholder="Math item source"></textarea>
    <div id="preview" class="math-item-preview">&nbsp;</div>
    <button type="submit" class="pure-button pure-button-primary">Create</button>
</form>

{% endblock %}

{% block bodyend %}
<script src="{% static 'js/marked.min.js' %}"></script>
<script src="{% static 'js/create.js' %}"></script>
{% endblock %}
