{% extends 'main/page.html' %}
{% load date_utils %}

{% block pagecontent %}

{% if user.is_authenticated %}
<p>Logged in as {{ user.username }}.</p>
{% endif %}

<h2>Drafts</h2>

{% if drafts %}
<div class="item-list">{% for draft in drafts %}
    <a href="{{ draft.get_absolute_url }}">
        <h4>{{ draft }}</h4>{% if draft.notes %}
        <p>Notes: {{ draft.notes }}</p>{% endif %}
        <p>Last edited {{ draft.updated_at|date_or_ago }}</p>
    </a>{% endfor %}
</div>
{% else %}
No drafts
{% endif %}

{% endblock %}

{% block sidecontent %}
<p><a class="btn btn-warning" href="{% url 'logout' %}">Sign out</a></p>
{% endblock %}