{% extends 'main/page.html' %}
{% load date_utils %}

{% block pagecontent %}

<h3>Items Created</h3>

<ul>
    <li>Definitions: {{ def_count }}</li>
    <li>Theorems: {{ thm_count }}</li>
    <li>Proofs: {{ prf_count }}</li>
    <li>Validations: {{ val_count }}</li>
</ul>

{% if is_me %}
<h3>Drafts</h3>

{% if drafts %}
<div class="item-list">{% for draft in drafts %}
    <a href="{{ draft.get_absolute_url }}">
        <h4 class="item-heading">{{ draft }}</h4>{% if draft.notes %}
        <p>Notes: {{ draft.notes }}</p>{% endif %}
        <p class="item-about">Last edited {{ draft.updated_at|date_or_ago }}</p>
    </a>{% endfor %}
</div>
{% else %}
No drafts
{% endif %}
{% endif %}

{% endblock %}

{% block sidecontent %}
{% if is_me %}
<p><a class="btn btn-warning" href="{% url 'logout' %}">Sign out</a></p>
{% endif %}
{% endblock %}