{% extends "base.html" %}
{% load utils_tags %}

{% block title %}View document{% endblock %}

{% block mainbar %}

<h3>Document {{document}}</h3>

<div id="document-items"></div>

{% endblock mainbar %}

{% block sidebar %}

<h4>Actions</h4>
{% if can_delete %}
<p><form method="post" action="{% url 'document.views.delete' %}">
  {% csrf_token %}
  <button class="btn btn-danger" type="submit">Delete</button>
  <input type="hidden" name="id" value="{{ document.id }}" />
</form></p>
{% endif %}

<p><a id="rename-button" href="#" class="btn btn-default">Rename document</a></p>

{% endblock sidebar %}

{% block bodybottom %}

{% include 'include/js-scripts.html' with showdown=True only %}

<script type="text/javascript">
teoremer.document_view({{document.id}}, {{items|to_json}});
</script>

{% endblock %}
