{% load item_tags %}

{% if preview %}
<h1>
Preview {{ preview.kind|capfirst }}
{% if preview.id %} {{ preview.id }}{% endif %}
{% if preview.primarytags %} ({{ preview.primarytags|typeset_tag_list|join:", " }}){% endif %}
{% if preview.parent %} of {{ preview.parent }}{% endif %}
</h1>

<div class="item-body">
{{ preview.body|typeset_body }}
</div>

<div class="item-info">
{% if preview.secondarytags %}
<div class="tag-list">
{% for tag in preview.secondarytags %}
  <span class="tag">{{ tag|typeset_tag }}</span>
{% endfor %}
</div>
{% endif %}
</div>
<div class="clr"></div>
{% endif %}
