{% load staticfiles %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
<script src="{% static 'js/teoremer_handlebars.js' %}"></script>
<script src="{% static 'js/teoremer.js' %}"></script>

<script type="text/javascript">
var includeView = new teoremer.TagListView({
    el: $('#include-tags'),
    prefix: 'include'
});
var excludeView = new teoremer.TagListView({
    el: $('#exclude-tags'),
    prefix: 'exclude'
});
var searchList = new teoremer.SearchListView({
    el: $('#search-item-list'),
    itemtype: '{{ shorttype }}'
});

searchList.collection.reset({{ init_items|safe }});

includeView.collection.on('add remove', function() {
    searchList.setIncludeTags(includeView.getTagList());
});

excludeView.collection.on('add remove', function() {
    searchList.setExcludeTags(excludeView.getTagList());
});

</script>
