{% extends 'main/page.html' %}

{% block pagecontent %}
<form action="" method="post">
  {% csrf_token %}
{% if item_data %}
  {% include 'mathitems/include/show.html' with item_data=item_data only %}
  <input type="hidden" name="src" value="{{ item.body|escape }}">
  <button type="submit" name="submit" value="edit" class="btn btn-default">Edit</button>
  <button type="submit" name="submit" value="save" class="btn btn-default">Save</button>
{% else %}
  <textarea name="src" class="form-control" rows="10">{{ item.body }}</textarea>
  <button type="submit" name="submit" value="preview" class="btn btn-default">Preview</button>
{% endif %}
  <a href="{% url 'home' %}" class="btn btn-warning pull-right">Cancel</a>
</form>
{% endblock %}

{% block sidecontent %}
<div class="well">
{% if item_data %}
{% include 'mathitems/include/about.html' with item_data=item_data only %}
{% else %}
<h4>How to Edit</h4>
<p>Use <a href="http://commonmark.org/help/">CommonMark</a> for editing,
    except for links and images.</p>
{% endif %}
</div>
{% endblock %}
