{% extends 'main/page.html' %}

{% block pagecontent %}
{% if not can_save %}
<p>
  Warning: You can try editing a draft here, but you will <em>not</em>
  be able to save it!
</p>
{% endif %}
<form method="post" action="">
  {% csrf_token %}
  <textarea name="src" class="item-edit-box watch-field" rows="20">{{ item.body }}</textarea>
  <p>Preview:</p>
  {% include 'mathitems/include/show.html' with item_data=item_data only %}
  <button type="submit" name="submit" value="preview" class="btn btn-default watch-ok">Update Preview</button>
  {% if can_save %}
  <button type="submit" name="submit" value="save" class="btn btn-default">Save</button>
  {% endif %}
  {% if src_hash %}<input type="hidden" name="src-chk" value="{{ src_hash }}">{% endif %}
  <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
</form>
{% endblock %}

{% block sidecontent %}
{% include 'mathitems/include/about.html' with title='About the Preview' item_data=item_data only %}

<div class="sidebar-box">
<h4>Markup Help</h4>
<p>
  Use <a href="http://commonmark.org/help/">CommonMark</a> for editing, except for links and images.
</p>
<p>
  <em>Referencing:</em>
</p>
<p>
  <code>[link text](D1)</code><br>
  Link to item <code>D1</code> and show the text <a href="#">link text</a>.
</p>
<p>
  <code>[](D1)</code><br>
  Link to item <code>D1</code> and show the text <a href="#">D1</a>.
</p>
<p>
  <code>[link text](D1#some-concept)</code><br>
  Refer to concept <code>some-concept</code> of item <code>D1</code> and show the text <a href="#">link text</a>.
</p>
<p>
  <code>[](D1#some-concept)</code><br>
  Refer to concept <code>some-concept</code> of item <code>D1</code> and show the text <a href="#">some-concept</a>.
</p>
<p>
  <code>[link text](#some-concept)</code><br>
  Refer to concept <code>some-concept</code> and show the text <a href="#">link text</a>.
</p>
<p>
  <code>[](D1#some-concept)</code><br>
  Refer to concept <code>some-concept</code> and show the text <a href="#">some-concept</a>.
</p>
{% if item.is_def %}
<p>
  <em>Defining concepts:</em>
</p>
<p>
  <code>[link text](=some-concept)</code><br>
  Indicates that <code>some-concept</code> is being defined,
  showing the text <a href="#">link text</a>
</p>
<p>
  <code>[](=some-concept)</code><br>
  Indicates that <code>some-concept</code> is being defined,
  showing the text <a href="#">some-concept</a>
</p>
{% endif %}
<p>
  <em>Including mathematics:</em>
</p>
<p>
  Use <code>$...$</code> to include inline formulas, using LaTeX markup. Use <code>$$...$$</code>
  for block-style formulas.
</p>
</div>
{% endblock %}
