{% extends "base.html" %}
{% load ref_tags %}

{% block title %}Add Validation Source for {{ item }}{% endblock %}

{% block mainbar %}

<h1>Add Validation Source for {{ item }}</h1>

{% if source %}
<div>{{ source|typeset_refnode }}</div>
{% endif %}

<form method="post" action="{% url 'validate.views.add_source' item.public_id %}">
  {% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>
  {% if source %}
  <input type="hidden" name="source" value="{{ source.pk }}" />
  <input type="submit" name="submit" value="preview" />
  <input type="submit" name="submit" value="add validation" />
  {% else %}
  <input type="submit" name="submit" value="search" />
  <input type="submit" name="submit" value="next" />
  {% endif %}
</form>

{% if search %}
<div>
{% if search.results %}
{% for node in search.results %}
<div>
<a href="{% url 'validate.views.add_source' item.public_id %}?source={{ node.id }}">
{{ node|typeset_refnode }}</a>
</div>
{% endfor %}
{% else %}
<p>No matches found</p>
{% endif %}
</div>
{% endif %}

{% endblock %}
