{% extends "base.html" %}
{% load url from future %}

{% block title %}
Edit {{ kind }} {{ id }}{% if preview %} preview{% endif %}
{% endblock %}

{% block mainbar %}

<h1>Edit {{ kind }} {{ id }}{% if preview %} preview{% if preview.primarytags %} ({{ preview.primarytags|join:", " }}){% endif %}{% endif %}</h1>

{% include "items/include/preview.html" %}

<form method="post" action="{% url 'items.views.edit' id %}">
{% csrf_token %}

  {% include "items/include/edit_fields.html" %}

  <div class="item-actions">
    <input class="button" type="submit" name="submit" value="preview" />
    <input class="button" type="submit" name="submit" value="update" />
  </div>
</form>

{% endblock mainbar %}

