{% extends "base.html" %}
{% load url from future %}

{% block title %}Edit {{ kind }} {{ id }}{% endblock %}

{% block mainbar %}

<h1>Edit {{ kind }} {{ id }}</h1>

{% if errors %}
{% for error_header, error_list in errors.iteritems %}
<div class="error">
  <p>{{ error_header }}:</p>
  <ul>
{% for error in error_list %}
    <li>{{ error }}</li>
{% endfor %}
  </ul>
</div>
{% endfor %}
{% endif %}

<form method="post" action="{% url 'items.views.edit' id %}">
{% csrf_token %}

  <textarea name="body" class="body">{{ body }}</textarea>

  <p>Primary tags:</p>
  <textarea name="primarytags" class="tags primary-tags">{{ primarytags }}</textarea>

  <p>Other tags:</p>
  <textarea name="othertags" class="tags other-tags">{{ othertags }}</textarea>

  <div class="item-actions">
    <input class="button" type="submit" name="submit" value="preview" />
    <input class="button" type="submit" name="submit" value="update" />
  </div>
</form>

{% endblock %}

