{% extends "base.html" %}
{% load item_tags %}
{% load user_tags %}
{% load utils_tags %}

{% block title %}Edit {{ item }}{% endblock %}

{% block mainbar %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{ item }}{% if item.parent %} of {{ item.parent }}{% endif %}</h4>
  </div>
  <div class="panel-body">
{{ item|typeset_body }}
  </div>
</div>

{% if primary_text %}
<h4>{{ primary_text }}</h4>
<div id="primary-categories"></div>
{% endif %}

<h4>Categories</h4>
<div id="secondary-categories"></div>

<h4>Abstract Definition References</h4>
<div id="tag-to-category-map"></div>

<div id="modal-container"></div>

{% endblock mainbar %}

{% block sidebar %}

<h4>Meta</h4>

<p>
  Created by <a href="{% url 'users.views.profile' item.created_by.get_username %}">{{ item.created_by.get_full_name }}</a>,
  published at {{ item.created_at|datetime_user:user }}
  {% if item.created_at == item.modified_at %} (unmodified){% else %}, modified at {{ item.modified_at|datetime_user:user }}{% endif %}
</p>

<h4>Actions</h4>

<p><button id="save" type="button" class="btn btn-primary">Save</button></p>

{% endblock %}

{% block bodybottom %}

{% include 'include/js-scripts.html' with showdown=True cookie=True only %}

<script type="text/javascript">
teoremer.edit_final("{{item.final_id}}", {{item.primary_categories|to_json}}, {{item.secondary_categories|to_json}}, {{item.get_tag_category_associations|to_json}});
</script>

{% endblock %}
