{% extends "base.html" %}
{% load url from future %}

{% block title %}
Add {{ kind }}{% if preview %} preview{% endif %}
{% endblock %}

{% block mainbar %}

{% include "items/include/preview.html" %}

<h1>Add {{ kind }}
{% if parent %} of {{ parent.get_kind_display|capfirst }} {{ parent.final_id }}{% endif %}
</h1>

<form method="post" action="{% if parent %}{% url 'items.views.new' kind=kind parent=parent.final_id %}{% else %}{% url 'items.views.new' kind=kind %}{% endif %}">{% csrf_token %}

  {% include "items/include/edit_fields.html" %}

  <div class="item-actions">
    <input class="button" type="submit" name="submit" value="preview" />
    <input class="button" type="submit" name="submit" value="save draft" />
  </div>

</form>

{% endblock mainbar %}

