{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Add {{ kind }}
{% endblock %}

{% block mainbar %}

<h1>Add {{ kind }}{% if parent %} of {{ parent }}{% endif %}</h1>

<textarea id="body-input" class="item-body span12">
</textarea>

<div id="body-preview" class="item-body">
</div>

{% endblock mainbar %}

{% block sidebar %}

<h4>Actions</h4>
<form id="save-form" action="{% url 'items.views.save' %}" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="Save draft" />
  <input type="hidden" name="kind" value="{{ kind }}" />
  <input type="hidden" name="body" value="" />  
</form>

{% endblock %}

{% block bodybottom %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script src="{% static 'js/teoremer.js' %}"></script>

<script type="text/javascript">
var bodyPreview = new teoremer.BodyPreview($('#body-preview'));

$('#body-input').on('input propertychange', function() {
  bodyPreview.setSource(this.value);
});

$('#save-form').submit(function() {
  $("#save-form>input[name='body']").prop('value', $('#body-input').val());
});

</script>

{% endblock %}
