
<script id="tag-list-template" type="text/x-handlebars-template">
    <p id="{{prefix}}-tag-list"></p>
    <div class="input-append">
      <input id="{{prefix}}-tag-name" class="span8" type="text">
      <button id="{{prefix}}-tag-add" class="btn" type="button">Add</button>
    </div>
</script>

<script>

(function(window){

    var $ = window.jQuery;

    var teoremer = {}

    function typeset_tag(st) {
      var elems = st.split('$');
      for (var n=0; n < elems.length; n++) {
          if (n % 2 != 0) {
              elems[n] = '\\(' + elems[n] + '\\)';
          }
      }
      return elems.join('');
    }


    teoremer.TagItem = Backbone.Model.extend({
    });
  
    teoremer.TagList = Backbone.Collection.extend({
        model: teoremer.TagItem
    });

    teoremer.TagItemView = Backbone.View.extend({
        tagName: 'span',
        className: 'tag',
        events: { 
            'click .delete-tag': 'remove'
        },    
        initialize: function(){
            _.bindAll(this, 'render', 'unrender', 'remove');
            this.model.bind('change', this.render);
            this.model.bind('remove', this.unrender);
        },
        render: function(){
            var tag_html = typeset_tag(this.model.get('name'));
            this.$el.html(tag_html + ' <i class="icon-remove delete-tag"></i>');
            return this;
        },
        unrender: function(){
            this.$el.remove();
        },
        remove: function(){
            this.model.destroy();
        }
    });
  
    teoremer.TagListView = Backbone.View.extend({
        events: {},
        template: Handlebars.compile($('#tag-list-template').html()),
        initialize: function(){
            _.bindAll(this, 'render', 'addItem', 'appendItem');
            this.collection = new teoremer.TagList();
            this.collection.bind('add', this.appendItem);
            this.events['click #' + this.options.prefix + '-tag-add'] = 'addItem';
            this.render();
            $('#' + this.options.prefix + '-tag-name').typeahead({
                source:
                    function (query, process) {
                        $.get('/api/tags/prefixed/' + query, function(data) {
                            console.log(data);
                            process(data);
                        }, 'json');
                    }
            });
        },
        render: function(){
            var self = this;
            var html = this.template({ prefix: this.options.prefix });
            this.$el.html(html);
            _(this.collection.models).each(function(item){
                self.appendItem(item);
            }, this);
        },
        addItem: function(){
            var element = $('#' + this.options.prefix + '-tag-name'); 
            var value = element.val();
            if (value) {
                element.val('');
                var item = new teoremer.TagItem({
                    name: value
                });
                this.collection.add(item);
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, item.$el]);
            }
        },
        appendItem: function(item){
            var tagItemView = new teoremer.TagItemView({
                model: item
            });
            $('#' + this.options.prefix + '-tag-list').append(tagItemView.render().el);
        }
    });

    window.teoremer = teoremer;

})(window);

</script>

<script>
    
var includeView = new teoremer.TagListView({
    el: $('#include-tags'),
    prefix: 'include'
});

var excludeView = new teoremer.TagListView({
    el: $('#exclude-tags'),
    prefix: 'exclude'
});

includeView.collection.on('add', function() {
   console.log('include add');
});

includeView.collection.on('remove', function() {
   console.log('include remove');
});

excludeView.collection.on('add', function() {
   console.log('exclude add'); 
});

excludeView.collection.on('remove', function() {
   console.log('exclude remove');
});

</script>
