{% extends "base.html" %}
{% load item_tags %}
{% load utils_tags %}
{% load staticfiles %}

{% block title %}Search {{ itemtype }}s{% endblock %}

{% block mainbar %}

<h1>Search {{ itemtype }}s</h1>

<p>Result list...</p>

{% endblock %}

{% block sidebar %}

<h4>Included tags</h4>
<div id="include-tags"></div>
<h4>Excluded tags</h4>
<div id="exclude-tags"></div>

{% endblock %}

{% block bodybottom %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
<script src="{% static 'js/teoremer_handlebars.js' %}"></script>
<script src="{% static 'js/teoremer.js' %}"></script>

<script type="text/javascript">
var includeView = new teoremer.TagListView({
    el: $('#include-tags'),
    prefix: 'include'
});
var excludeView = new teoremer.TagListView({
    el: $('#exclude-tags'),
    prefix: 'exclude'
});
includeView.collection.on('add', function() {
   console.log('include add');
});
includeView.collection.on('remove', function() {
   console.log('include remove');
});
excludeView.collection.on('add', function() {
   console.log('exclude add'); 
});
excludeView.collection.on('remove', function() {
   console.log('exclude remove');
});
</script>

{% endblock %}
