{% extends "base.html" %}

{% block title %}teoremer.com | search{% endblock %}

{% block mainbar %}

{% if search_user %}
<h4>Items for user {{search_user.get_full_name}}</h4>
{% endif %}

{% if parent %}
<h4>Proofs for {{parent.get_name}}</h4>
{% endif %}

<div id="search-container">
{% include 'include/item_list.html' with itempage=itempage only %}
</div>

{% endblock %}

{% block sidebar %}

<h4>Type</h4>

<ul class="list-unstyled">
{% if links.type.all %}
    <li><span class="glyphicon glyphicon-ok{% if links.type.all.changed %} transparent{% endif %}"></span>
        <a href="{{links.type.all.link}}">All</a></li>
{% endif %}
    <li><span class="glyphicon glyphicon-ok{% if links.type.D.changed %} transparent{% endif %}"></span>
        <a href="{{links.type.D.link}}">Definitions</a></li>
    <li><span class="glyphicon glyphicon-ok{% if links.type.T.changed %} transparent{% endif %}"></span>
        <a href="{{links.type.T.link}}">Theorems</a></li>
{% if links.type.P %}
    <li><span class="glyphicon glyphicon-ok{% if links.type.P.changed %} transparent{% endif %}"></span>
        <a href="{{links.type.P.link}}">Proofs</a></li>
{% endif %}
</ul>

<h4>Status</h4>

<ul class="list-unstyled">
    <li><span class="glyphicon glyphicon-ok{% if links.status.F.changed %} transparent{% endif %}"></span>
        <a href="{{links.status.F.link}}">Published</a></li>
    <li><span class="glyphicon glyphicon-ok{% if links.status.R.changed %} transparent{% endif %}"></span>
        <a href="{{links.status.R.link}}">Under review</a></li>
{% if links.status.D %}
    <li><span class="glyphicon glyphicon-ok{% if links.status.D.changed %} transparent{% endif %}"></span>
        <a href="{{links.status.D.link}}">Drafts</a></li>
{% endif %}
</ul>

{% comment %}
<h4>Sorting</h4>

<ul class="list-unstyled">
    <li><span class="glyphicon glyphicon-ok"></span> Date</li>
    <li><span class="glyphicon glyphicon-ok transparent"></span> <a href="">Points</a></li>
</ul>
{% endcomment %}

<h4>Include tags</h4>

<div id="include-tags"></div>

<h4>Exclude tags</h4>

<div id="exclude-tags"></div>

{% endblock %}

{% block bodybottom %}
{% include 'include/js-scripts.html' %}
<script type="text/javascript">
teoremer.item_search();
</script>
{% endblock %}
