{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ kind|capfirst }} {{ id }}{% endblock %}

{% block mainbar %}

<h1>{{ kind|capfirst }} {{ id }}</h1>

{% for tag in primary_tags %}
<div class="primary-tag">
{{ tag|safe }}
</div>
{% endfor %}

<table class="iteminfo">
  <tr>
    <th>Status</th>
    <td>{{ status|capfirst }}</td>
  </tr>
  <tr>
    <th>Created by</th>
    <td><a href="{% url 'users.views.profile' created_by.id %}">{{ created_by.name }}</a></td>
  </tr>
  <tr>
    <th>Latest modification</th>
    <td>{{ modified_at }}</td>
  </tr>
</table>

{% if other_tags %}
<div class="taglist">
  <span class="header">Other tags:</span>
{% for tag in other_tags %}
  <span class="other-tag">{{ tag|safe }}</span>
{% endfor %}
</div>
{% endif %}

<div class="itembody">
{{ body|safe }}
</div>

{% if own_item %}
{% if status == 'draft' %}
<p><a href="#">Edit</a></p>
<p><a href="#">Submit for review</a></p>
<p><a href="{% url 'items.views.publish' id %}">Publish</a></p>
{% elif status == 'review' %}
<p><a href="#">Revert to draft</a></p>
<p><a href="{% url 'items.views.publish' id %}">Publish</a></p>
{% endif %}
{% else %}
<p>Is ready to publish? <a href="#">Yes</a> / <a href="#">No</a></p>
{% endif %}

{% endblock %}

