{% extends "base.html" %}
{% load url from future %}
{% load item_tags %}
{% load user_tags %}

{% block title %}{{ item }}{% endblock %}

{% block mainbar %}

{% spaceless %}
<h1>
{{ item }}
{% if item.primary_tags %} ({{ item.primary_tags|typeset_tag_list|join:", " }}){% endif %}
{% if item.parent %} of {{ item.parent.get_kind_display|capfirst }} {{ item.parent.final_id }}{% endif %}
</h1>
{% endspaceless %}

<div class="itembody">
{{ item.body|typeset_body }}
</div>

<div class="iteminfo">
<p>{{ item.get_status_display }}, latest edit by <a href="{% url 'users.views.profile' item.modified_by.get_username %}">{{ item.modified_by.get_full_name }}</a> at {{ item.modified_at|datetime_user:user }}</p>
{% if item.other_tags %}
<div class="taglist">
{% for tag in item.other_tags %}
  <span class="tag">{{ tag|typeset_tag }}</span>
{% endfor %}
</div>
{% endif %}
</div>

<div class="clr"></div>

<div class="item-actions">

{% if perm.edit %}
<a href="{% url 'items.views.edit' item.id %}">edit</a>
{% endif %}
{% if perm.to_draft %}
<form method="POST" action="{% url 'items.views.change_status' %}">
  {% csrf_token %}
  <input class="button" type="submit" value="revert to draft" />
  <input type="hidden" name="status" value="draft" />
  <input type="hidden" name="item" value="{{ item.id }}" />
</form>
{% endif %}
{% if perm.to_review %}
<form method="POST" action="{% url 'items.views.change_status' %}">
  {% csrf_token %}
  <input class="button" type="submit" value="submit for review" />
  <input type="hidden" name="status" value="review" />
  <input type="hidden" name="item" value="{{ item.id }}" />
</form>
{% endif %}
{% if perm.to_final %}
<form method="POST" action="{% url 'items.views.change_status' %}">
  {% csrf_token %}
  <input class="button" type="submit" value="publish" />
  <input type="hidden" name="status" value="publish" />
  <input type="hidden" name="item" value="{{ item.id }}" />
</form>
{% endif %}

<div class="clr"></div>

</div>

{% endblock mainbar %}

