{% extends "base.html" %}
{% load url from future %}
{% load item_tags %}
{% load user_tags %}
{% load ref_tags %}

{% block title %}{{ item }}{% endblock %}

{% block mainbar %}

<h1>{{ item }}
{% if item.primary_tags %} ({{ item.primary_tags|typeset_tag_list|join:", " }}){% endif %}
{% if item.parent %} of {{ item.parent }}{% endif %}</h1>

<div class="itembody">
{{ item.body|typeset_body }}
</div>

<div class="iteminfo">
<p>created by <a href="{% url 'users.views.profile' item.created_by.get_username %}">{{ item.created_by.get_full_name }}</a>, published at {{ item.created_at|datetime_user:user }}</p>
{% if item.secondary_tags %}
<div class="taglist">
{% for tag in item.secondary_tags %}
  <span class="tag">{{ tag|typeset_tag }}</span>
{% endfor %}
</div>
{% endif %}
</div>

<div class="clr"></div>

{% if validation_list %}
<div class="item-count">{{ validation_count }} validations (<a href="{% url 'items.views.show_final' item.public_id %}">hide</a>)</div>
<ul class="validation-list">
{% for val in validation_list %}
<li><p>{{ val.source|typeset_refnode }}</p>
	<p>{{ val.location }}</p></li>
{% endfor %}
</ul>
{% elif validation_count %}
<div class="item-count">{{ validation_count }} validations (<a href="{% url 'items.views.show_final' item.public_id %}?vals=1">show</a>)</div>
{% else %}
<div class="item-count">no validations</div>
{% endif %}

{% if item.itemtype == 'T' %}
{% if proof_list %}
<div class="item-count">{{ proof_count }} proofs (<a href="{% url 'items.views.show_final' item.public_id %}">hide</a>)</div>
{% include 'items/include/fitemlist.html' with itemlist=proof_list only %}
{% elif proof_count %}
<div class="item-count">{{ proof_count }} proofs (<a href="{% url 'items.views.show_final' item.public_id %}?prfs=1">show</a>)</div>
{% else %}
<div class="item-count">no proofs</div>
{% endif %}
{% endif %}

{% endblock mainbar %}

{% block sidebar %}

<div class="actions">
{% if perm.add_proof %}
<a class="button" href="{% url 'items.views.new' kind='proof' parent=item.public_id %}">add proof</a>
<div class="clr"></div>
{% endif %}
{% if perm.add_source %}
<a class="button" href="{% url 'validate.views.add_source' item.public_id %}">add validation source</a>
<div class="clr"></div>
{% endif %}
{% if user.is_admin %}
<form method="post" action="{% url 'items.views.delete_public' %}">
  {% csrf_token %}
  <input class="button" type="submit" value="delete" />
  <input type="hidden" name="item" value="{{ item.id }}" />
</form>
<div class="clr"></div>
{% endif %}
</div>

{% endblock %}
