{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ kind|capfirst }} {{ final_id }}{% endblock %}

{% block mainbar %}

<h1>{{ kind|capfirst }} {{ final_id }}{% if primary_tags %} ({{ primary_tags|join:", " }}){% endif %}</h1>

<div class="itembody">
{{ body|safe }}
</div>

<div class="iteminfo">
<p>created by <a href="{% url 'users.views.profile' created_by.id %}">{{ created_by.name }}</a>, published at {{ published_at }}</p>
{% if other_tags %}
<div class="taglist">
{% for tag in other_tags %}
  <span class="tag">{{ tag|safe }}</span>
{% endfor %}
</div>
{% endif %}
</div>

<div class="clr"></div>

{% endblock mainbar %}

