#wrap {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
}

.math-item-input {
    height: 10em;
}

.math-item-preview {
    margin: .5em 0;
    /* Taken from pure-form input styling */
    padding: .5em .6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.math-item-preview span.defined {
    font-style: italic;
    color: #31708f;
}
