/* override Bootstrap */
/*.container {
  max-width: none;
}*/

/* own styles */
span.category {
  padding: 0.1em 0.2em;
  margin: 0.1em 0.1em 1em 0.1em;
  /*border: 2px solid #888;*/
}
div.category {
  margin-bottom: 1em;
}
.category .tag:before {
  content: ' / ';
  color: #888;
}
.category .tag:first-child:before {
  content: '';
}
.categories {
  line-height: 30px;
}
.tag-list .tag {
  margin: 0em 1em 0em 0em;
}
.tag-counts {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.tag-counts>li {
  line-height: 30px;
}
.expander-in, .expander-out {
  cursor: pointer;
}
.panel.draft-edit > .panel-body {
  padding: 0px;
}
.panel.draft-edit > .panel-body > textarea {
  height: 20em;
}
.panel.draft-edit > .panel-body > div {
  padding: 15px 0px 5px;
  margin: 20px 13px 0px;
  border-top: 1px dotted #eee;
}
.validation-vote {
  float: right;
  font-size: 150%;
}
.vote-down:before {
  content: "\e094";
}
.vote-up:before {
  content: "\e093";
}
.vote-enabled {
  cursor: pointer;
}
