/* override Bootstrap */
/*.container {
  max-width: none;
}*/

/* own styles */
.category {
  padding: 0.1em 0.2em;
  margin: 0.1em 0.1em 1em 0.1em;
}
.category:before {
  content: '[';
  font-size: 135%;
}
.category:after {
  content: ']';
  font-size: 135%;
}
.category .tag:before {
  content: ' / ';
  color: #888;
}
.category .tag:first-child:before {
  content: '';
}
span.removable {
  padding: 0em 0.5em 0em 0em;
}
.categories {
  line-height: 30px;
}
.tag-counts {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.tag-counts>li {
  line-height: 30px;
}
.expander-in, .expander-out {
  cursor: pointer;
}
.panel.draft-edit > .panel-body {
  padding: 0px;
}
.panel.draft-edit > .panel-body > textarea {
  height: 20em;
}
.panel.draft-edit > .panel-body > div {
  padding: 15px 0px 5px;
  margin: 20px 13px 0px;
  border-top: 1px dotted #eee;
}
.validation-vote {
  float: right;
  font-size: 150%;
}
.vote-down:before {
  content: "\e094";
}
.vote-up:before {
  content: "\e093";
}
.vote-enabled {
  cursor: pointer;
}
.item-points {
  font-size: 200%;
}
.media-thumbnail {
  float: left;
  margin-right: 10px;
  width: 256px;
}
