{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block mainbar %}

<h1>Log in</h1>

<form class="form-horizontal" method="post" action="{% url 'users.views.login' %}">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="id-username">User name</label>
    <div class="controls">
      {{ form.username }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="id-password">Password</label>
    <div class="controls">
      {{ form.password }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </div>
</form>

{% endblock mainbar %}

