{% extends "base.html" %}
{% load utils_tags %}

{% block title %}{{ pageuser.get_full_name }}{% endblock %}

{% block mainbar %}

<h3>User profile{% if own_profile %} <small><a href="{% url 'users.views.profile_edit' %}">edit</a></small>{% endif %}</h3>

<dl class="dl-horizontal">
  <dt>Display name</dt><dd>{{ pageuser.get_full_name }}</dd>
  <dt>Member since</dt><dd>{{ pageuser.created_at|timesince }}</dd>
  {% if own_profile %}<dt>Email</dt><dd>{{ pageuser.email }}</dd>{% endif %}
  <dt>Description</dt><dd>{{ description|safe }}</dd>
</dl>

<h3>Documents</h3>

{% if documents %}
<ul>
{%  for doc in documents %}
<li><a href="{% url 'document.views.view' doc.id %}">{{doc}}</a></li>
{%  endfor %}
</ul>
{% else %}
<i>None</i>
{% endif %}

<h3>Items</h3>

<div id="search-item-list">loading...</div>

{% endblock %}

{% block sidebar %}

{% if own_profile %}
<h4>Actions</h4>
<p><a class="btn btn-default" href="{% url 'users.views.logout' %}"><i class="fa fa-sign-out"></i> Log out</a></p>
{% if pageuser.is_admin %}
<p><a class="btn btn-default" href="{% url 'users.views.administration' %}"><i class="fa fa-cogs"></i> Administration</a></p>
{% endif %}
{% endif %}

<h4>Included tags</h4>
<div id="include-tags"></div>

<h4>Excluded tags</h4>
<div id="exclude-tags"></div>

{% endblock %}

{% block bodybottom %}
{% include 'include/js-scripts.html' %}
<script type="text/javascript">
teoremer.item_search('DTP', '{{statuses}}', {{init_items|to_json}}, undefined, 'FRD', {{user_id}});
</script>
{% endblock %}
