{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block mainbar %}

<h3>Edit profile</h3>

<form role="form" method="POST">
  {% csrf_token %}
  <div class="form-group">
    {{ form.name.label_tag }}
    {{ form.name.errors|safe }}
    {{ form.name }}
    <p class="help-block">This will be your identifier on this site. Using your full name is recommended.</p>
  </div>
  <div class="form-group">
    {{ form.email.label_tag }}
    {{ form.email.errors|safe }}
    {{ form.email }}
    <p class="help-block">For notifications only and will not be displayed.</p>
  </div>
  <div class="form-group">
    {{ form.description.label_tag }}
    {{ form.description }}
    <p class="help-block">Tell other users a little about yourself. Use markdown to typeset.</p>
    {{ form.description.errors }}
  </div>
  <button type="submit" class="btn btn-default">Save</button>
  <a href="{% url 'users.views.profile' user.id %}" class="btn btn-default">Cancel</a>
</form>

{% endblock %}
