{% extends "base.html" %}
{% load utils_tags %}

{% block title %}{{ pageuser.get_full_name }}{% endblock %}

{% block mainbar %}

<h3>User profile{% if own_profile %} <small><a href="{% url 'users.views.profile_edit' %}">edit</a></small>{% endif %}</h3>

<dl class="dl-horizontal">
  <dt>Display name</dt><dd>{{ pageuser.get_full_name }}</dd>
  <dt>Member since</dt><dd>{{ pageuser.created_at|timesince }}</dd>
  {% if own_profile %}<dt>Email</dt><dd>{{ pageuser.email }}</dd>{% endif %}
  <dt>Description</dt><dd>{{ description|safe }}</dd>
</dl>

<h3>Documents</h3>

{% if documents %}
<ul>
{%  for doc in documents %}
<li><a href="{% url 'document.views.view' doc.id %}">{{doc}}</a></li>
{%  endfor %}
</ul>
{% else %}
<em>None</em>
{% endif %}

<h3>Published items</h3>

{% if finalpage.items %}
<ul class="list-group">
{% include 'include/item_list_items.html' with items=finalpage.items only %}
</ul>
<div class="clearfix">
  <a class="pull-right" href="{{see_all_final}}">See all</a>
</div>
{% else %}
<em>None</em>
{% endif %}

<h3>Items submitted for review</h3>

{% if reviewpage.items %}
<ul class="list-group">
{% include 'include/item_list_items.html' with items=reviewpage.items only %}
</ul>
<div class="clearfix">
  <a class="pull-right" href="{{see_all_review}}">See all</a>
</div>
{% else %}
<em>None</em>
{% endif %}

{% if own_profile %}
<h3>Items drafts</h3>

{% if draftpage.items %}
<ul class="list-group">
{% include 'include/item_list_items.html' with items=draftpage.items only %}
</ul>
<div class="clearfix">
  <a class="pull-right" href="{{see_all_draft}}">See all</a>
</div>
{% else %}
<em>None</em>
{% endif %}
{% endif %}

{% endblock %}

{% block sidebar %}

{% if own_profile %}
<h4>Actions</h4>

<p><a class="btn btn-default" href="{% url 'users.views.logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></p>
{% if pageuser.is_admin %}
<p><a class="btn btn-default" href="{% url 'users.views.administration' %}"><span class="glyphicon glyphicon-cog"></span> Administration</a></p>
{% endif %}
{% endif %}

{% endblock %}
