{% extends "base.html" %}
{% load browserid %}

{% block title %}{{ pageuser.get_full_name }}{% endblock %}

{% block mainbar %}

<h3>User profile</h3>

<table>
  <tr><th>Display name</th><td>{{ pageuser.get_full_name }}</td></tr>
  <tr><th>Member since</th><td>{{ pageuser.created_at|timesince }}</td></tr>
</table>

<h3>Items</h3>

<div id="search-item-list"></div>

{% endblock %}

{% block sidebar %}

{% if own_profile %}
<h4>Actions</h4>
{% browserid_logout text="log out" link_class="btn btn-primary" %}
{% endif %}

{% include 'items/include/search-sidebar.html' %}

{% endblock %}

{% block bodybottom %}
{% include 'items/include/search-bottom.html' with itemtypes='DTP' %}
{% endblock %}
