<div class="sidebar-box">
<h4>About the Item</h4>
{% if item_data.refs %}
<p>Item references:</p>
<ul>{% for key, value in item_data.refs.items %}
  <li>
    {% if value.url %}<a href="{{ value.url }}">{% endif %}{{ key }}{% if value.url %}</a>{% endif %}
    {% if value.concepts %}
    <ul>{% for concept, url in value.concepts.items %}
      <li><a href="{{ url }}">{{ concept }}</a></li>{% endfor %}
    </ul>
    {% endif %}
  </li>{% endfor %}
</ul>
{% endif %}
{% if item_data.concept_refs %}
<p>Concepts referenced:</p>
<ul>{% for concept, url in item_data.concept_refs.items %}
  <li><a href="{{ url }}">{{ concept }}</a></li>{% endfor %}
</ul>{% endif %}
{% if item_data.defined %}
<p>Concepts defined:</p>
<ul>{% for concept in item_data.defined %}
  <li>{{ concept }}</li>{% endfor %}
</ul>{% endif %}
{% if item_data.errors %}
<p>Errors:</p>
<ul>{% for error in item_data.errors %}
  <li>{{error}}</li>{% endfor %}
</ul>
{% endif %}
</div>