{% extends 'main/page.html' %}

{% block pagecontent %}
<h2>Latest Definitions</h2>
{% include 'mathitems/include/item-list.html' with items=latest only %}

<h2>Definitions Without Validations</h2>
{% include 'mathitems/include/item-list.html' with items=no_vals only %}

<h2>Referenced Concepts Without Any Definitions</h2>
<ul>
{% for concept in no_defs %}
  <li><a href="{{ concept.get_absolute_url }}">{{ concept.name }}</a> (referenced by {{ concept.conceptmeta.ref_count }} items)</li>
{% endfor %}
</ul>
{% endblock %}

{% block sidecontent %}
<p><a href="{% url 'new-def' %}" class="btn btn-default">New Definition</a></p>
{% endblock %}
