{% extends 'main/page.html' %}

{% block pagecontent %}
{% include 'mathitems/include/show.html' with item_data=item_data only %}

{% if parent_item %}
<div class="submathitem">
<h4><a href="{{ parent_item.get_absolute_url }}">{{ parent_item }}</a></h4>
{% include 'mathitems/include/show.html' with item_data=parent_item_data only %}
</div>
{% endif %}
{% endblock %}

{% block sidecontent %}
{% include 'mathitems/include/about.html' with item_data=item_data only %}
{% include 'keywords/edit-box.html' with itemkeywords=itemkeywords %}
<p>
  <a href="{% url 'show-item' item.get_name %}" class="btn btn-default">Done</a>
</p>
{% endblock %}
