{% extends 'main/page.html' %}

{% block pagecontent %}
{% include 'mathitems/include/show.html' with item_data=item_data only %}

{% if parent_item %}
<div class="submathitem">
<h4><a href="{{ parent_item.get_absolute_url }}">{{ parent_item }}</a></h4>
{% include 'mathitems/include/show.html' with item_data=parent_item_data only %}
</div>
{% endif %}
{% endblock %}

{% block sidecontent %}
{% include 'mathitems/include/about.html' with item_data=item_data only %}
<div class="sidebar-box">
<h4>Keywords</h4>
{% if itemkeywords %}
<form method="POST">
  {% csrf_token %}
  <ul>
    {% for itemkw in itemkeywords %}
    <li>{{ itemkw.keyword.name }} <button class="close" type="submit" name="delete" value="{{ itemkw.id }}">x</button></li>
    {% endfor %}
  </ul>
</form>
{% else %}
<p><em>None</em></p>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input class="form-control" type="text" name="kw" placeholder="New keyword" required>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Add</button>
    </span>
  </div>
</form>
</div>
<p>
  <a href="{% url 'show-item' item.get_name %}" class="btn btn-default">Done</a>
</p>
{% endblock %}
