{% extends 'main/page.html' %}
{% load date_utils %}

{% block pagecontent %}
{% include 'mathitems/include/show.html' with item_data=item_data only %}

{% if parent_item %}
<div class="submathitem">
<h4><a href="{{ parent_item.get_absolute_url }}">{{ parent_item }}</a></h4>
{% include 'mathitems/include/show.html' with item_data=parent_item_data only %}
</div>
{% endif %}

<h4>Validations{% if can_add_validation %} <a href="{% url 'add-item-validation' item.get_name %}">add</a>{% endif %}</h4>
{% if validations %}
<ul>
{% for validation in validations %}
<li>
  {% include 'validations/include/source.html' with source=validation.source only %}
  {% if validation.location %}<br>{{ validation.location }}{% endif %}</li>
{% endfor %}
</ul>
{% else %}
<p><em>None</em></p>
{% endif %}

{% if item.is_thm %}
<h4>Proofs{% if can_add_proof %} <a href="{% url 'new-prf' item.get_name %}">add</a>{% endif %}</h4>
{% if proofs %}
<ul>{% for proof in proofs %}
  <li><a href="{{ proof.get_absolute_url }}">{{ proof }}</a></li>{% endfor %}
</ul>
{% else %}
<p><em>None</em></p>
{% endif %}
{% endif %}
{% endblock %}

{% block sidecontent %}
<div class="sidebar-box">
  <h4>Publication</h4>
  Published {{ item.created_at|date_or_ago }} by <a href="{% url 'user-page' item.created_by.id %}">{{ item.created_by.get_username }}</a>
</div>
{% include 'mathitems/include/about.html' with item_data=item_data only %}
{% include 'keywords/show-box.html' with edit_link=kw_edit_link keywords=keywords only %}
{% if can_add_to_doc %}
<p>
  <a href="{% url 'doc-add-item' item.get_name %}" class="btn btn-default">Add to Document</a>
</p>
{% endif %}
<p>
  <a href="{% url 'copy-to-draft' item.get_name %}" class="btn btn-default">Copy to Draft</a>
</p>
{% endblock %}