{% extends 'main/page.html' %}

{% block pagecontent %}
{% include 'mathitems/include/show.html' with item_data=item_data only %}

{% if parent_item %}
<div class="submathitem">
<h4><a href="{{ parent_item.get_absolute_url }}">{{ parent_item }}</a></h4>
{% include 'mathitems/include/show.html' with item_data=parent_item_data only %}
</div>
{% endif %}

{% if validations %}
<h4>Validations</h4>
<ul>
{% for validation in validations %}
<li>
  {% include 'validations/include/source.html' with source=validation.source only %}
  {% if validation.location %}<br>{{ validation.location }}{% endif %}</li>
{% endfor %}
</ul>
{% endif %}

{% if proofs %}
<h4>Proofs</h4>
<ul>{% for proof in proofs %}
  <li><a href="{{ proof.get_absolute_url }}">{{ proof }}</a></li>{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block sidecontent %}
<div class="item-about-box">
{% include 'mathitems/include/about.html' with item_data=item_data only %}
</div>
{% if new_proof_link %}
<p>
  <a href="{{ new_proof_link }}" class="btn btn-default">New Proof</a>
</p>
{% endif %}
<p>
  <a href="{% url 'add-item-validation' item.get_name %}" class="btn btn-default">Add Validation</a>
</p>
<p>
  <a href="{% url 'copy-to-draft' item.get_name %}" class="btn btn-default">Copy to Draft</a>
</p>
{% endblock %}
